body{
font-family: PTSans NarrowBold;
font-size: 14px;
line-height: 24px
color: 000000;
font-weight:normal;
  
}

h2{
font-size: 30px;
line-height: 42px;
font-weight: bold;
}
h3{
font-size: 14px;
line-height: 18px;
font-weight: normal;   
}
html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}
.breadcrumbs{
    margin-top: 60px;
    width: 630px;
    margin-left: 20px;
    margin-right: 320px;
    margin-bottom: 60px;
}
.content-left{
    margin-left: 20px;
    float: left;
    width: 460px;
}
.content-right{
    float: right;
    width: 390px;
}
.content-left-shop{
    float: left;
    width: 170px;
    margin-left: 10px;
}
.content-right-shop{
    float: right;
    width: 700px;
    margin-left: 50px;
    margin-right: 10px;
}
.content-bottom-shop{
    clear:both;
}
.product{
    width: 220px;
    float: left;
}
