body{
font-family: PTSans NarrowBold;
font-size: 14px;
line-height: 24px
color: 000000;
font-weight:normal;

}
h2{
font-size: 30px;
line-height: 42px;
font-weight: bold;
}
h3{
font-size: 14px;
line-height: 18px;
font-weight: normal;   
}
